* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(bg1.jpg);
  background-position: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: Caladea;
}

.flex-container {
  display: flex;
  align-items: center;
}

.content {
  position: relative;
}

.content h1 {
  font-size: 300%;
  color: #cdcdff;
  text-shadow: -2px 3px 1px #5553a6;
}

.content button {
  position: absolute;
  font-size: 140%;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.nie {
  top: 80px;
  right: 150px;
  color: white;
  background-color: #9ea8ed;
  box-shadow: 4px 4px 0 #5553a6;
}

.tak {
  top: 80px;
  left: 150px;
  color: white;
  background-color: #9ea8ed;
  box-shadow: 4px 4px 0 #5553a6;
}

.nie:hover {
  /* top: 81px;
  right: 150px; */
  background-color: #cdcdff;
  box-shadow: 4px 4px 0 #9ea8ed;
}

.tak:hover {
  background-color: #cdcdff;
  box-shadow: 4px 4px 0 #9ea8ed;
}

@media only screen and (max-width: 600px) {
  .content h1 {
    text-align: center;
  }

  .nie {
    top: 190px;
    right: 100px;
  }

  .tak {
    top: 190px;
    left: 100px;
  }
}
